body {
    font-family: 'Kiwi Maru', serif !important;
    padding: 0px;
    overflow: hidden;
}

button {
    font-family: inherit;
    background-color: rgb(73, 111, 131);
    border-radius: 4px;
    transition: 250ms;
    border: 0px solid black;
}

button:hover {
    background-color: rgb(113, 151, 171);
}

button:active {
    background-color: rgb(53, 91, 111);
}

button:disabled {
    cursor: not-allowed;
}

option,
select {
    font-family: inherit;
}

canvas {
    margin: 0px !important;
}

.bubble {
    position: relative;
    font-family: 'Kiwi Maru', serif !important;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 50px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 8px;
    bottom: -16px;
}