body {
    font-family: 'Kiwi Maru', serif !important;
    padding: 0px;
    overflow: hidden;
}

button {
    font-family: inherit;
    background-color: rgb(73, 111, 131);
    border-radius: 4px;
    transition: 250ms;
    border: 0px solid black;
}

button:hover {
    background-color: rgb(113, 151, 171);
}

button:active {
    background-color: rgb(53, 91, 111);
}

button:disabled {
    cursor: not-allowed;
}

option,
select {
    font-family: inherit;
}

canvas {
    margin: 0px !important;
}